.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}
.recipies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
